.navbar{
    background-color: rgb(6, 1, 1);
}

.header {
    background-color: rgba(255, 255, 255, 0.995);
    text-align: center;
    padding: 10px;
    color: rgb(0, 174, 255);
}

.nav {
    overflow: hidden;
    background-color: rgb(176, 173, 173);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgb(232, 77, 77);
    color: black;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.body{
    /* background-color: rgb(12, 209, 249); */
    align-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    height:580px;
}

.mycard{
    height: 450px;
    width: 400px;
    border-radius: 2%;
    position:relative;
    transition: box-shadow 0.3s ease-in-out;
}

.cardTitle{
    color: #ddd;
    padding: 5%;
    text-align: center;
}

.cardDescription{
    font-family: Verdana, Arial, Tahoma, Serif;
    font-size: x-small;   
    padding: 5%;
    color: white;
    text-align: justify;
    position:absolute;
    bottom:0;
}

.cardSign{
    color: white;
    text-align: right;
    padding-right: 10%;
    font-size: medium;
    
}

.mycard:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}